   
.sbmt{
    color: white;
    background-color: blue;
    padding: 10px;
}
.sbmt:hover{
    background-color: red;
}


.edit{
    padding: 10px;
    padding-right: 20px ;
    padding-left: 20px;
    color:white;
    background-color:blue;
}


.edit:hover{
    background-color: rgb(73, 73, 236);
}


.delete{
    padding: 10px;
    padding-right: 20px ;
    padding-left: 20px;
    color:white;
    background-color:red;
    margin-left: 1px;
}


.delete:hover{
    background-color: rgb(203, 90, 90);
}



.name{
    width: 8%;
}

.subject{
    width: 10%;
    padding: 1%;
}
.dob{
    width: 8%;
    padding: 1%;
}
.Highschool{
    width: 10%;
    position: relative;
    left:20px;
}


.gender{
    width: 5%;
    padding: 1%;
}
.gender2{
    width: 5%;
position: relative;
left:15px;
}
.collage{
    width: 13%;
    padding: 1%;

}


.phone{
    width: 10%;
    position: relative;
    left:-10px;}

.nationality{
    width: 3%;
    padding: 1%;

}
.nationality2{
    width: 3%;
    position: relative;
    left:-5px;
}
.email{
    width: 15%;
    padding: 1%;
}

.email2{
    width: 15%;
    position: relative;
    left:-35px;
}

.plan{
    width: 3%;
    padding: 1%;
}

.plan2{
    width: 3%;
    position: relative;
    left:-35px;
}


.address{
    width: 35%;
    padding: 1%;
}

.nab2 {
    position: absolute;
    top: 70px; /* Adjust as needed */
    right: 50px; /* Adjust as needed */
    z-index: 2; /* Higher z-index to appear above the button */
}

.deleteall{
    position:absolute;
    right: 10px;
    color: white;
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    z-index: 1;
}

.deleteall:hover{
background-color: rgb(162, 24, 24);    
}
