.questionimport{
    position: relative;
    left:40px;
    padding: 2%;
    
    
}

.Sidenav{
    display: flex;
}

.questionimport2{
    position: absolute;
    left:69%;
}

.first{
    list-style-type: none;
    display: flex;
    margin: 15px;
}

.second{
    position: absolute;
    left:140%;
    
}

.second4{
    position: absolute;
    left:80px;
}
.questionimport5{
    margin: 15px;

}

.questionimport7{
    width: 100%;
    position: absolute;
    left:138px;
    height: 35px;
    position: relative;
    bottom: 5px;
}





